<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout>
        <Pattern>
          %date{yyyy-mm-dd HH:mm} - %highlight{[%-5level]}{FATAL=Yellow, ERROR=red, WARN=Magenta, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %class#%line - %message %n
        </Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Logger name="ga.rugal" level="TRACE" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="config" level="TRACE" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="org.hibernate" level="ERROR" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Logger name="org.springframework" level="ERROR" Additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
  </Loggers>
</Configuration>
